@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,400&display=swap');

* {
    box-sizing: border-box;
}

canvas, body{
    font-family: "Poppins", sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
}

.wrapper {
    background: url(../image/bgo.jpg);
    min-height: 200vh;
    width: 100%;
    background-position: top center;
    background-attachment: none;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
}

.fr {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    height: 40vh;
    margin-right: 3rem;
}

.paraHp {
    font-size: 13px;
    color: rgb(255, 195, 195);
    margin-right: 0;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
}

.big-text {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1;
    margin-right: 1rem;
    color: rgb(248, 66, 66);
}

/* .countdown-el {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} */

.absoluteDiv {
    display: inline-block;
}

.countdown-el span {
    font-size: 12px;
    font-weight: bold;
    margin: auto;
    color: rgb(0, 0, 0);
    background-color: rgb(187, 255, 123);
    border-radius: 4px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

#valentine {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    transition: all .4s;
}

#valentine:hover {
    transform: translateY(-4px);
}

#valentine:active {
    transform: translateY(0px);
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.8);
}

.popup-content {
    position: fixed;
    left: 50%;
    top: 5%;
    width: 50%;
    height: 90%;
    text-align: center;
    transform: translateX(-50%);
}

.popup-content img {
    width: 100%;
}

.popup-content p {
    display: inline-block;
    color: #fff;
}

.popup-close {
    position: absolute;
    top: -3%;
    right: -2rem;
    width: 2rem;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 3rem;
    color: #fff;
    transition: all .4s;
}

.popup-close:hover {
    transform: translateY(-4px);
}

.popup-close:active {
    transform: translateY(0px);
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}
/* 
@media only screen and (max-width: 1099px) {
    .wrapper {
        background: url(../image/bgm.jpg);
        min-height: 100vh;
    }
}



@media only screen and (min-width: 1100px) {
    .wrapper {
        background: url(../image/bg.jpg);
        min-height: 150vh;
        background-position: top center;
        position: relative;
        -webkit-background-size: cover;
        background-size: cover;
    }
} */